<component name="ArtifactManager">
  <artifact type="war" name="Spring_MyBatis_TX:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="MyBatis.war">
      <element id="artifact" artifact-name="Spring_MyBatis_TX:war exploded" />
    </root>
  </artifact>
</component>